/* =========================================
   HOME
========================================= */

.home-layout {
  width: 100%;
  max-width: 680px;
  margin: 20px auto;
  padding: 0;
  box-sizing: border-box;
}

.feed-section {
  width: 100%;
  min-width: 0;
}


/* =========================================
   TABLET
========================================= */

@media (max-width: 992px) {
  .home-layout {
    width: 100%;
    max-width: 680px;
  }
}


/* =========================================
   MOBILE
========================================= */

@media (max-width: 768px) {
  .home-layout {
    width: 100%;
    max-width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
  }
}